*{
	
	background-color: pink;
	
	
}


/*header*/

header{

	background-color: pink;
}


#recherche{
	
background-color:pink;


margin-left: 500px;

	

}
	
	
body{
	
	background-color: pink;
}




 
footer{



position: absolute;


margin-left: auto;
margin-right: auto;
	
width: 100%;
}
  
  
  a {
  color:black;
  style: bold;
  }


