

<link rel="stylesheet" href="/template/monCSS.css">







<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<img src="../resources/image/dodo_logo.png"
				style="max-height: 70px; min-height: 70px; padding-left: 25px">
			<h3>BELLE ILE</h3>

		</div>
		<ul class="nav navbar-nav" style="float: right">
			<li>
				<h4 style="padding-right:30px">
					<a href="${pageContext.request.contextPath}/rech/map">Nos destinations</a>
				</h4>
			</li>

			<li><h4 style="padding-right:30px">
					<a href="${pageContext.request.contextPath}/accueil/listeOffreEnCours">Offre en cours</a>
				</h4></li>

			<li><h4 style="padding-right:30px">
					<a href="https://aide-voyage.com/" target="_blank">Aide</a>
				</h4></li>

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</ul>
	</div>
</nav>